<!-- Modal Header -->
<div class="modal-header">
	<h4 class="modal-title">Condiciones de uso</h4>
	<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<!-- Modal body -->
<div class="modal-body">

 <p> Los datos proporcionados por el usuario a través de esta herramienta web solo serán utilizados para garantizar la correcta realización de la encuesta. </p>
	<p>El usuario se compromete a que es propietario de la cuenta de correo introducida y que el resto de los datos suon veraces.</p>
	<p>En ningún caso se usarán esos datos para otros fines, salvo que el usuario así lo indique de forma expresa en la realización de la encuesta.</p>
	<p>Un usuario, identificado mediante su cuenta de correo, solo podrá realizar una vez la encuesta. Si se descubre que un mismo usuario ha realizado varias encuestas a través de diferentes cuentas de correo podrá ser eliminado de los resultados finales.</p>
</div>

<!-- Modal footer -->
<div class="modal-footer" style="display: block">
	Izquierda Independiente. Iniciativa por San Sebastián de los Reyes.
</div>