<!-- Modal Header -->
<div class="modal-header">
	<h4 class="modal-title">Condiciones de uso</h4>
	<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<!-- Modal body -->
<div class="modal-body">

  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse animi velit laboriosam rerum modi sit, ducimus, provident suscipit necessitatibus beatae facilis incidunt dolore! Vel distinctio praesentium quidem error placeat assumenda rem voluptate libero obcaecati, doloremque ipsam dolorem asperiores, nesciunt, minus vitae nam, debitis eligendi. Vero voluptates blanditiis obcaecati at, dolor.

</div>

<!-- Modal footer -->
<div class="modal-footer" style="display: block">
	La Última Pregunta
</div>